form {
    display: flex;
    flex-direction: column;
    background: #003a7f;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #af8c30;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    color: white;
}

form label {
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #fef5bc;
    /* color: black; */
}

input[type="text"], input[type="file"] {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #af8c30;
    border-radius: 4px;
    background: #fef5bc;
    color: black;
}

input::placeholder {
    color: #af8c30;
}

button [type="submit"]{
    background-color: #af8c30;
    color: black;
    padding: 10px;
    margin-top: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fef5bc;
}

/* Prevent the X button from stretching inside flex form */
form .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    color: #af8c30;
    cursor: pointer;
    transition: color 0.2s ease, transform 0.2s ease;

    /* align-self: flex-start; 
    flex: 0 0 auto;         
    display: inline-block;   */
    width: auto;
    padding: 0;
    margin: 0;
    line-height: 1;
}
form {
    position: relative; 
}

form .close-btn:hover {
    color: #c94d4d;
    transform: scale(1.2);
}
